-- |
--
-- Module      : {{{ _haskell_module_name }}}
-- Copyright   : (c) {{ _current_year }} {{ author }}
-- License     : AGPL-3
-- Maintainer  : {{ email }}
-- Stability   : experimental
-- Portability : POSIX
