name: Release

on:
  push:
    branches:
      - main
      - rc/*

jobs:
  build:
    strategy:
      matrix:
        os:
          - linux
          - darwin

        include:
          - os: linux
            runner: ubuntu-latest
          - os: darwin
            runner: macos-latest

    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v4

      # Use dry-run to get computed release
      - id: release
        uses: cycjimmy/semantic-release-action@v4
        with:
          dry_run: true
          extra_plugins: |
            conventional-changelog-conventionalcommits
        env:
          FORCE_COLOR: 1
          GITHUB_TOKEN: ${{ github.token }}

      # update version in package.yaml, so the --version option works correctly
      - run: |
          new_version=$EPOCH.$MAJOR.$MINOR.$PATCH
          yq -i ".version = \"$new_version\"" package.yaml
        env:
          EPOCH: 0
          MAJOR: ${{ steps.release.outputs.new_release_major_version }}
          MINOR: ${{ steps.release.outputs.new_release_minor_version }}
          PATCH: ${{ steps.release.outputs.new_release_patch_version }}

      - id: stack
        uses: freckle/stack-action@v5
      - uses: extractions/setup-just@v2
      - run: just dist
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-binaries
          path: "restyler-*.tar.gz"
          if-no-files-found: error

  release:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/download-artifact@v4

      - id: token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ vars.AUTOMATION_APP_ID }}
          private-key: ${{ secrets.AUTOMATION_PRIVATE_KEY }}

      - id: release
        uses: cycjimmy/semantic-release-action@v4
        with:
          extra_plugins: |
            conventional-changelog-conventionalcommits
        env:
          FORCE_COLOR: 1
          GITHUB_TOKEN: ${{ steps.token.outputs.token }}
    outputs:
      tag: ${{ steps.release.outputs.new_release_git_tag }}

  install-release:
    needs: release
    if: ${{ needs.release.outputs.tag }}

    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - macos-latest

    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v4
      - run: ./install -t '${{ needs.release.outputs.tag }}'
      - run: restyle --version
      - run: restyle --help

  docs:
    needs: [build]
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      contents: read
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - run: gem install --user ronn-ng
      - run: |
          for bin in ~/.local/share/gem/ruby/*/bin; do
            echo "$bin"
          done >>"$GITHUB_PATH"

      - uses: actions/download-artifact@v4
        with:
          name: linux-binaries
      - run: |
          tar xzf restyler-*.tar.gz
          mkdir -p ./bin
          sudo mv -v restyler-*/restyle /usr/local/bin

      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            doc

      - name: Generate ronn documenation
        run: |
          restyle __render-docs-man1__ > doc/restyle.1.ronn
          restyle __render-docs-man5__ > doc/restyled.yaml.5.ronn

      - name: Generate HTML sources to _site
        run: |
          env \
            RONN_STYLE=./doc \
            RONN_ORGANIZATION=Restyled \
            RONN_MANUAL="Restyler v$(restyle --version | cut -d' ' -f 2)" \
            ronn --style toc,custom --roff --html doc/*.ronn

          mkdir -p _site/man-pages
          cp -v doc/*.html _site/man-pages/

      - uses: actions/upload-pages-artifact@v3
        with:
          path: _site
      - id: deployment
        uses: actions/deploy-pages@v4
